@model IEnumerable<Phd.Models.AcademicDepartment>

@{
    ViewData["Title"] = "Выбор кафедры";
}

<h2>Выбор кафедры для регистрации</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Faculty.NameRus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameRus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Faculty.NameRus)</strong>

                </td>  
                <td>
                    <a asp-controller="Account" asp-action="RegisterByAcadDep" asp-route-depId="@item.Id">
                        @Html.DisplayFor(modelItem => item.NameRus)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
