@model Phd.Models.BDirection

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BDirection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cypher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cypher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameKaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameKaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameEng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEng)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicDepartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDepartment.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
