@model Phd.Models.BMajor

@{
    ViewData["Title"] = "Details";
}

<h2>Детали ГАК</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cypher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cypher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameRus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameRus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameKaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameKaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameEng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEng)
        </dd>



        <dt>
            <label>Номер протокола </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatementNumber)
        </dd>

        <dt>
            <label>Тип аттестации</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttestationTypeRus)
        </dd>

        <dt>
            <label> Год обучения</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyYear)
        </dd>

        <dt>
            <label> Кол-во кредитов</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.AcademicDepartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDepartment.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Править</a> |
    <a asp-action="Index">Назад</a>
</div>
