@model IEnumerable<Phd.Models.BRStudent>

@{
    ViewData["Title"] = "Просмотр студентов";
}

    <h2>Просмотр студентов</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <a class="btn btn-sm btn-primary" asp-action="CreateBRStudentGrade" asp-route-studentId="@item.Id" asp-route-userId="@ViewBag.UserId"> Оценить</a>
                <a  class="btn btn-sm btn-primary" asp-action="GetBRStudentGrade" asp-route-studentId="@item.Id">Результаты</a>
            </td>
        </tr>
}
    </tbody>
</table>
