@model IEnumerable<Phd.Models.BRExamCommission>

@{
    ViewData["Title"] = "Список";
}

<h2>ГАКи</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMajor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BMajor.Cypher)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="CreateBRStudentGroups" asp-route-id="@item.Id">Создать поток</a> |
                <a class="btn btn-sm btn-primary" asp-action="GetBRStudentGroups" asp-route-id="@item.Id">Список потоков</a>
            </td>
        </tr>
}
    </tbody>
</table>
