@model Phd.ViewModels.StudentGradeViewModel

@{
    ViewData["Title"] = "Сводный лист оценки";
}
    <head>
        <h4 align="center">Сводный лист оценки</h4>
        <h4 align="center">
            к заседанию Государственной аттестационной комиссии
        </h4>
    </head>

    <body>

        <p align="center">по направлению подготовки кадров</p>
        <p align="center"><em><u>@Html.DisplayFor(model => model.MajorCypher) - @Html.DisplayFor(model => model.MajorName)</u> </em> </p>



        <p align="center"> по защите дипломных работ в ЕНУ им. Л.Н. Гумилева</p>
        <p align="center">от <em> @DateTime.Now</em> </p>
        <p align="center">Обучающийся: <em> <u>@Html.DisplayFor(model => model.StudentLName) @Html.DisplayFor(model => model.StudentFName) @Html.DisplayFor(model => model.StudentMName) </u> </em>  </p>
        <p align="center">Тема дипломной работы:  <em> <u> @Html.DisplayFor(model => model.StudentThesisName) </u></em>  </p>

        <table class="demotable" align="center">
            <thead>
                <tr>
                    <td>
                        <p align="center"> № </p>
                    </td>
                    <td>
                        <p align="center"> ФИО </p>
                    </td>
                    <td>
                        <p align="center">Оценка  </p>
                    </td>
                    <td>
                        <p align="center">Мнение </p>
                    </td>
                    <td>
                        <p align="center"> Вопрос </p>
                    </td>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model.Grades)
                {
                    <tr>
                        <td>
                            <div> @Html.DisplayFor(modelItem => item.User.LastName) @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.MiddleName)</div>
                        </td>
                        <td>
                            <div> @Html.DisplayFor(modelItem => item.Value)%</div>
                        </td>
                        <td>
                            <div> @Html.DisplayFor(modelItem => item.Opinion)</div>
                        </td>
                        <td>
                            <div> @Html.DisplayFor(modelItem => item.Question) </div>
                        </td>
                    </tr>
                }
            </tbody>
           
        </table>



        <h4 align="center"> Срединная оценка: <strong><b><em>@Html.DisplayFor(model => model.AverageGrade) %</em></b></strong></h4>

    </body>















































<style>
    .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
    }

        .demotable tbody tr {
            counter-increment: schetchik; /* сосчитать только tr в tbody */
        }

            .demotable td,
            .demotable tbody tr:before {
                padding: .1em .5em;
                border: 1px solid #C0C0C0;
            }

            .demotable tbody tr:before {
                display: table-cell;
                vertical-align: middle;
            }

            .demotable tbody tr:before,
            .demotable b:after {
                content: counter(schetchik);
                color: #978777;
            }
    p {
        text-indent: 30px; /* Отступ первой строки в пикселах */
        font-size: 14pt; /* Размер шрифта в пунктах */
    }

    dl {
        font-size: 14pt; /* Размер шрифта в пунктах */
    }

    ol {
        font-size: 14pt;
    }
</style>

