@model IEnumerable<Phd.Models.BRStudentGroup>

@{
    ViewData["Title"] = "Просмотр потоков на рус яз";
}

<h2>Просмотр потоков рус яз</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    <a class="btn btn-sm btn-primary" asp-action="CreateStudentRusAsync" asp-route-id="@item.Id">Создать студента</a>
                    <a class="btn btn-sm btn-primary" asp-action="GetStudentsRusAsync" asp-route-id="@item.Id">Студенты</a>
                </td>
            </tr>
        }
    </tbody>
</table>
