@model Phd.ViewModels.StudentGradeViewModel

@{
    ViewData["Title"] = "Протокол";
}
    <head>
        <h4 align="center">ПРОТОКОЛ № <em><u>@Html.DisplayFor(model => model.MinutesNumber)</u></em></h4>
        <h4 align="center">Заседания Государственной аттестационной комиссии</h4>
        <h5 align="center">от <em> @DateTime.Now</em> </h5>
    </head>


    <body>
        <p align="justify">
            По рассмотрению дипломной работы (проекта) студента
            <br />
            <em>
                <u>
                    @Html.DisplayFor(model => model.StudentLName)
                    @Html.DisplayFor(model => model.StudentFName)
                    @Html.DisplayFor(model => model.StudentMName),
                    @Html.DisplayFor(model => model.MajorCypher) -
                    @Html.DisplayFor(model => model.MajorName)
                </u>
            </em>
            <br />
            на тему:
            <br />
            <em><u>@Html.DisplayFor(model => model.StudentThesisName)</u></em>
        </p>

        <p align="justify">
            Присутствовали:
            <dl>
                <dt>
                    Председатель:
                </dt>
                <dd>
                    <em><u>@Html.DisplayFor(model => model.Chairman)</u></em>
                </dd>
                <dt>
                    Члены:
                </dt>

                @foreach (var item in Model.Grades)
                {
                    <dd>
                        <em>
                            <u>
                                @Html.DisplayFor(modelItem => item.User.LastName)
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                                @Html.DisplayFor(modelItem => item.User.MiddleName)
                            </u>
                        </em>
                    </dd>
                }
            </dl>
        </p>

        <p align="justify">
            Дипломная работа (проект) выполнена под научным руководством<br />
            <em>
                <u>
                    @Html.DisplayFor(model => model.SupervisorLName)
                    @Html.DisplayFor(model => model.SupervisorFName)
                    @Html.DisplayFor(model => model.SupervisorMName)
                </u>
            </em>
            <br />
            рецензент
            <br />
            <em>
                <u>
                    @Html.DisplayFor(model => model.ReviewerLName)
                    @Html.DisplayFor(model => model.ReviewerFName)
                    @Html.DisplayFor(model => model.ReviewerMName)
                </u>
            </em>
        </p>

        <p align="justify">
            В Государственную аттестационную комиссию представлены следующие материалы: <br />
            <ol>
                <li>
                    текст дипломной работы (проекта)  на
                    <em>
                        <u>
                            @Html.DisplayFor(model => model.ThesPagesNumber)
                        </u>
                    </em>
                    страницах;
                </li>
                <li>
                    чертежи, таблицы к дипломной работе (проекту) на
                    <em>
                        <u>
                            @Html.DisplayFor(model => model.DrawTablesNumber)
                        </u>
                    </em>
                    страницах;
                </li>
                <li>
                    отзыв научного руководителя дипломной работы (проекта)
                </li>
                <li>
                    рецензия на дипломную работу (проект) с оценкой.
                </li>
            </ol>
            <p align="left">
                Оценка рецензента:
                <em>
                    <u>
                        @Html.DisplayFor(model => model.ReviewerGrade)
                    </u>
                </em>
            </p>
        </p>

        <p align="justify">
            После сообщения о выполненной дипломной работе (проекту) в течение 60 минут студенту были заданы следующие вопросы:
            <ol>

                @foreach (var item in Model.Grades)
                {
                    <li>
                        <em>
                            <u>
                                @Html.DisplayFor(modelItem => item.User.LastName)
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                                @Html.DisplayFor(modelItem => item.User.MiddleName):
                                @Html.DisplayFor(modelItem => item.Question)
                            </u>
                        </em>
                    </li>

                }
            </ol>
        </p>

        <p align="justify">
            Общая характеристика ответов студента на заданные ему вопросы <br />
            <em>
                <u>
                    @Html.DisplayFor(model => model.GeneralCharacteristic)
                </u>
            </em>
        </p>
        <p align="left">
            В ходе защиты дипломной работы (проекта) студент <br />
            <em>
                <u>
                    @Html.DisplayFor(model => model.StudentLName)
                    @Html.DisplayFor(model => model.StudentFName)
                    @Html.DisplayFor(model => model.StudentMName)

                </u>
            </em>
            <br />
            показал
            <em>
                <u>
                    @Html.DisplayFor(model => model.KnowledgeLevel)
                </u>
            </em>
        </p>

        <p align="left">
            Признать, что студент выполнил и защитил дипломную работу (проект) с оценкой
            <em>
                <u>
                    @Html.DisplayFor(model => model.GradeLetter)
                </u>
            </em>
        </p>



        <p align="justify">
            Особые мнения членов комиссии:
            <ol>

                @foreach (var item in Model.Grades)
                {
                    <li>
                        <em>
                            <u>
                                @Html.DisplayFor(modelItem => item.User.LastName)
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                                @Html.DisplayFor(modelItem => item.User.MiddleName):
                                @Html.DisplayFor(modelItem => item.Opinion)
                            </u>
                        </em>
                    </li>

                }
            </ol>
        </p>


        <p align="justify">
            <dl>
                <dt>
                    Председатель государственной экзаменационной комиссии:
                </dt>
                <dd>
                    _____________&nbsp;&nbsp;
                    <em>
                        <u>
                            @Html.DisplayFor(model => model.Chairman)
                        </u>
                    </em>
                </dd>
                <dt>
                    Члены:
                </dt>

                @foreach (var item in Model.Grades)
                {
            <dd>
                _____________&nbsp;&nbsp;
                <em>
                    <u>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                        @Html.DisplayFor(modelItem => item.User.MiddleName)
                    </u>
                </em>
            </dd>
                }
            <dt>
                Секретарь:
            </dt>
            <dd>
                _____________&nbsp;&nbsp;
                <em>
                    <u>
                        @Html.DisplayFor(model => model.Secretary)
                    </u>
                </em>
            </dd>
            </dl>   
        </p>


    </body>


    <style>
        .demotable {
            border-collapse: collapse;
            counter-reset: schetchik; /* счётчик с названием "schetchik" работает в рамках класса .demotable */
        }

            .demotable tr {
                counter-increment: schetchik; /* при встрече тега tr счётчик с названием "schetchik" увеличивается на единицу */
            }

                .demotable td,
                .demotable tr:before {
                    padding: .1em .5em;
                    border: 1px solid #E7D5C0;
                }

                .demotable tr:before {
                    content: counter(schetchik); /* значение счётчика с названием "schetchik" записывается в первую клетку строки */
                    display: table-cell;
                    vertical-align: middle;
                    color: #978777;
                }
        p {
            text-indent: 30px; /* Отступ первой строки в пикселах */
            font-size: 14pt; /* Размер шрифта в пунктах */
        }
        dl {
            font-size: 14pt; /* Размер шрифта в пунктах */
        }
        ol {
            font-size: 14pt;
        }

    </style>