@model IEnumerable<Phd.Models.BMajor>

@{
    ViewData["Title"] = "Создать специальность";
}

<h2>Index</h2>


<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cypher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameRus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameKaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicDepartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cypher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameKaz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicDepartment.Id)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Править</a>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    <a class="btn btn-sm btn-primary" asp-action="CreateStudentGroupRusAsync" asp-route-id="@item.Id">Создать поток рус</a>
                    <a class="btn btn-sm btn-primary" asp-action="GetStudentGroupRusAsync" asp-route-id="@item.Id">Потоки рус</a>
                    <a class="btn btn-sm btn-primary" asp-action="CreateStudentGroupKazAsync" asp-route-id="@item.Id">Создать поток каз</a>
                    <a class="btn btn-sm btn-primary" asp-action="GetStudentGroupKazAsync" asp-route-id="@item.Id">Потоки каз</a>
                    <a class="btn btn-sm btn-primary" asp-action="CreateStudentGroupEngAsync" asp-route-id="@item.Id">Создать поток англ</a>
                    <a class="btn btn-sm btn-primary" asp-action="GetStudentGroupEngAsync" asp-route-id="@item.Id">Потоки англ</a> 
                    <a class="btn btn-sm btn-primary" asp-action="GetStudentRusStatementAsync" asp-route-id="@item.Id">Ведомость</a>
                </td>
            </tr>
        }
    </tbody>
</table>
