@model Phd.Models.DictionaryStatusAvailability

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DictionaryStatusAvailability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValueRus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueRus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueKaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueKaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueEng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueEng)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
