@model Phd.Models.BRStudent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BRStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Iin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThesisTopicRus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThesisTopicRus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThesisTopicKaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThesisTopicKaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThesisTopicEng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThesisTopicEng)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThesisPagesNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThesisPagesNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrawingsTablesNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrawingsTablesNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorFname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorFname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorMname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorMname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorLname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorLname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorWorkPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorWorkPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorAcademicDegree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorAcademicDegree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorReviewAvailability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorReviewAvailability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorConclusion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupervisorConclusion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerFname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerFname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerMname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerMname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerLname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerLname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerWorkPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerWorkPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerAcademicDegree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerAcademicDegree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerGrade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerReviewAvailability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerReviewAvailability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantFname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultantFname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantMname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultantMname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantLname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultantLname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantWorkPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultantWorkPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultantPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantAcademicDegree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultantAcademicDegree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProtocolNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProtocolNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefenceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefenceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfStateAttestation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfStateAttestation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerCharacteristic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerCharacteristic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LevelOfPreparation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LevelOfPreparation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbsentMemberFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbsentMemberFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
